/* RESET */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* /RESET */
/* whole_page_settings */
body{
  font-family: 'Roboto', sans-serif;
}
.container{
  width: 80%;
  margin: auto;
}
/* /whole_page_settings */
/* proprietá speciali */
.clearfix::after{
  content:"";
  display: block;
  clear:both;
}
/* /proprietá speciali */

/* HEEADER */
header,
.banner{
  background-color: #0c325a;
}
.top_line{
  padding-top: 20px;
}
.header_nav li,
.header_buttons li{
  list-style: none;
  display: inline-block;
  margin-left: 5px;
}
.header_nav li a,
.header_buttons li a,
.header_lyrics a{
  color: #ffffff;
  text-decoration: none;
  font-size: 10px;
  font-weight: 300;
}
.header_nav,
.header_buttons{
  line-height: 50px;
}
.logo,
.header_nav,
.header_buttons{
  float:left;
}
.header_buttons{
  width: 40%;
  text-align: right;
}
.logo{
  width: 15%;
}
.header_nav{
  width: 45%;
}
.green_button{
  padding: 6px;
  background-color: #7cbb02;
  border-radius: 5px;
}
.empty_button{
  padding: 6px 20px;
  border: 1px solid #ffffff;
  border-radius: 5px;
}
/* /HEADER*/
/* /BANNER */
.banner{
  height: 350px;
  background-image: url("../img/background-header.png");
  background-size:75%;
  background-position: 125% 100%;
  background-repeat: no-repeat;
  position: relative;
}
.header_lyrics{
  width: 45%;
  position:absolute;
  top: 50%;
  transform: translate(0, -50%);
}
.header_lyrics h1{
  color: white;
  font-weight: 700;
  font-size: 37px;
  margin-bottom: 30px;
}
.header_lyrics .green_button{
  padding: 15px;
  background-color: #7cbb02;
  border-radius: 5px;
  font-size: 15px;
}
/* /BANNER */
/* SECTION 1 */
.section_1{
  height: 120px;
  background-color: #D3D3D3;
}
.section_1 *{
  text-align: center;
}
.section_1 h2{
  font-weight: 700;
  font-size: 20px;
  padding-top: 30px;
}
.section_1 p{
  color: #909090;
  padding-top: 10px;
}
/* / SECTION 1 */
/* SECTION 2 */
.section_2{
  width: 96%;
  margin: auto;
  border-bottom: 1px solid #909090;
}
.col{
  float: left;
  margin-bottom: 2%;
}
.col{
  width: calc(100% / 3);
  padding: 20px;
}
.col .photo{
  height: 130px;
}
.col img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.col h4{
  color: #7cbb02;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  margin-top: 20px;
}
.col hr{
  width: 20%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}
.col p{
  text-align: center;
  font-size: 12px;
  color: #909090;
}
/* /SECTION 2 */
