/* RESET */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* /RESET */
/* whole_page_settings */
body{
  font-family: 'Roboto', sans-serif;
}
.container{
  width: 80%;
  margin: auto;
}
/* /whole_page_settings */
/* proprietá speciali */
.clearfix::after{
  content:"";
  display: block;
  clear:both;
}
/* /proprietá speciali */
header{
height: 400px;
background-color: #1b3457;
background-image: url("../img/background-header.png");
background-size:75%;
background-position: bottom right;
background-repeat: no-repeat;
position: relative;
}
.header_nav li,
.header_buttons li{
  list-style: none;
  display: inline-block;
  margin-left: 10px;
}
.header_nav li a,
.header_buttons li a{
  color: #ffffff;
  text-decoration: none;
  font-size: 11px;
  font-weight: 300;
}
.logo,
.header_nav{
  float:left;
}
.header_buttons{
  float:right;
}
.green_button{
  padding: 10px;
  background-color: #7CBB02;
  border-radius: 8px;
}
.empty_button{
  padding: 10px;
  border: 1px solid #ffffff;
  border-radius: 8px;
}

  /* /barra navigazione */
