/* RESET */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* /RESET */
/* WHOLE PAGE */
body{
  font-family: 'Roboto', sans-serif;
}
.container{
  width: 80%;
  margin: auto;
}
.clearfix::after{
  content:"";
  display: block;
  clear:both;
}
.uppercase{
  text-transform: uppercase;
}
.help_button {
  position: fixed;
  bottom: 0;
  right:10%;
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px;
  font-size: 30px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.small_button{
  padding: 12px;
  background-color: #7cbb02;
  border-radius: 5px;
}
.empty_button{
  padding: 12px 25px;
  border: 1px solid #ffffff;
  border-radius: 5px;
}
.big_button{
  padding: 30px;
  background-color: #7cbb02;
  border-radius: 10px;
  font-size: 20px;
}
li{
  list-style: none;
  display: inline-block;
  margin-left: 10px;
}
a{
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
}
p{
  font-size: 25px
}
h3{
  font-weight: 700;
  font-size: 35px;
}
h2{
  font-weight: 700;
  font-size: 45px;
}
/* /WHOLE PAGE */
/* HEEADER */
header{
  background-color: #0c325a;
}
.top_line{
  padding-top: 30px;
}
.header_nav,
.header_buttons{
  line-height: 75px;
}
.logo,
.header_nav,
.header_buttons{
  float:left;
}
.header_buttons{
  width: 40%;
  text-align: right;
}
.logo{
  width: 15%;
}
.logo img{
  width: 70%;
}
.header_nav{
  width: 45%;
  padding-left: 20px;
}
/* /HEADER*/
/* /BANNER */
.banner{
  height: 700px;
  background-color: #0c325a;
  background-image: url("../img/background-header.png");
  background-size:75%;
  background-position: 125% 100%;
  background-repeat: no-repeat;
  position: relative;
}
.banner_lyrics{
  width: 40%;
  position:absolute;
  top: 50%;
  transform: translate(0, -50%);
}
.banner_lyrics h1{
  color: white;
  font-weight: 900;
  font-size: 65px;
  margin-bottom: 60px;
}
/* /BANNER */
/* SECTION 1 */
.section_1{
  height: 200px;
  background-color: #D3D3D3;
}
.section_1 *{
  text-align: center;
}
.section_1 h3{
  padding-top: 50px;
}
.section_1 p{
  color: #909090;
  padding-top: 20px;
}
/* / SECTION 1 */
/* SECTION 2 */
.section_2{
  width: 98%;
  margin: auto;
  border-bottom: 1px solid #909090;
  margin-top: 60px;
  padding-bottom: 60px;
}
.section_2 .col{
  float: left;
  padding: 10px;
  width: calc(100% / 3);
}
.section_2 .col .photo{
  height: 200px;
}
.section_2 .col img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.section_2 .col h4{
  color: #7cbb02;
  text-align: center;
  font-size: 35px;
  font-weight: 700;
  margin-top: 30px;
}
.section_2 .col hr{
  width: 20%;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}
.section_2 .col p{
  text-align: center;
  color: #909090;
  font-weight: 400;
}
/* /SECTION 2 */
/* SECTION 3 */
.section_3{
  margin-top: 30px;
}
.section_3 .col{
  float: left;
  width: 50%;
}
.section_3 ._2{
  padding: 60px 100px;
}
.section_3 img{
  max-width: 90%;
}
.section_3 p{
  color: #909090;
  margin: 30px 0;
}
.section_3 a{
  color: #0093d5;
  font-size: 20px;
  text-decoration: underline;
}
/* /SECTION 3 */
/* SECTION 4 */
.section_4{
  height: 200px;
  background-color: #D3D3D3;
  margin-top: 30px;
}
.section_4 .col{
  float: left;
}
.section_4 ._2{
  float: right;
}
.english_level {
border: 0;
background-color: #D3D3D3;
text-decoration: none;
color: #909090;
font-size: 30px;
}
.section_4 .container{
  padding-top: 80px;
}
.section_4 h4{
  font-size: 40px;
  font-weight: 700;
}
.section_4 span{
  font-size: 30px;
  color: #909090;
}
.select{
  border-bottom: 1px solid #909090;
  display: inline-block;
  margin: 0 40px 0 25px;
}
/* /SECTION 4 */
